*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
flake8.txt
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Project specific
.cache
.env
.sass-cache
.venv

*.sublime-*

avalonstar/build
avalonstar/javascripts
avalonstar/media
avalonstar/static
backups
htmlcov

latest.dump
