@import "components/normalize";
@import "components/shared";
@import "components/looper";

@import "live/base";
@import "live/webcam";
.overlay-away { @import "live/away"; }
.overlay-discussion { @import "live/discussion"; }
.overlay-epilogue { @import "live/epilogue"; }
.overlay-game { @import "live/game"; }
.overlay-prologue { @import "live/prologue"; }

.notifier {
  position: absolute;
  top: 0; right: 0;
  display: flex; align-items: center; justify-content: flex-end;
  margin-right: 30px;
  height: 90px;
  z-index: 1000;

  @import "live/notifier"; }
