@import "components/normalize";

// Shared variables. (Temporary placement.)
$gotham: 'Gotham SSm A', 'Gotham SSm B';
$idlewild: 'Idlewild SSm A', 'Idlewild SSm B';
$tungsten: 'Tungsten A', 'Tungsten B';

// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

@import "live/base";
.overlay-away { @import "live/away"; }
.overlay-bumper { @import "live/bumper"; }
.overlay-game { @import "live/game"; }
.overlay-prologue { @import "live/prologue"; }
