{% load static from staticfiles %}

{# Common Assets #}
<link rel="stylesheet" href="//cloud.typography.com/7547452/693684/css/fonts.css">
<link rel="stylesheet" href="//cdn.symbolset.com/9f5c7ee3a670b758a37ddbf1b7c41ec45b7e9653/symbolset.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
{# The Good Stuff #}
<link rel="stylesheet" href="{% static 'stylesheets/live.css' %}">
<script src="{% static 'javascripts/components/jquery.adaptive-backgrounds.min.js' %}"></script>
<script src="{% static 'javascripts/components/looper.min.js' %}"></script>
<script src="{% static 'javascripts/components/particles.min.js' %}"></script>
<script src="{% static 'javascripts/application/live.js' %}"></script>
<script src="{% static 'javascripts/application/notifier.js' %}"></script>
