{% load static from staticfiles %}

{# Common Assets #}
<link rel="stylesheet" href="//cloud.typography.com/7547452/693684/css/fonts.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% if not debug %}
{# Development Assets #}
<link rel="stylesheet" href="{% static 'stylesheets/site.css' %}">
<script src="{% static 'javascripts/components/jquery.adaptive-backgrounds.min.js' %}"></script>
<script src="{% static 'javascripts/application/site.js' %}"></script>
{% else %}
{# Production Assets #}
<link rel="stylesheet" href="{% static 'stylesheets/site.min.css' %}">
<script src="{% static 'javascripts/components.min.js' %}"></script>
<script src="{% static 'javascripts/site.js' %}"></script>
{% endif %}
