$color-alizarin: #e74c3c;
$color-river: #3498db;
$color-emerald: #2ecc71;
$color-asphalt: #34495e;


body {
  background-color: #0C0F15;
  color: #FFF;
  // font-family: $gotham;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0; padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 12px;

  background-color: #F4FCFD;
  color: #000;

  a { color: #000; }
  h1 {
    margin: 0;
    font-family: $idlewild;
    font-weight: 600;
    font-size: 14px;
  }
}

nav { flex: 1; }
nav ul {
  display: inline-flex;

  font-size: 13px;
  list-style: none;
  text-transform: uppercase;

  li { margin-left: 24px; }
}


.broadcast-header {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  background-color: #000;

  .broadcast-link {
    display: flex; align-items: center; justify-content: center;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 5;
  }
  .broadcast-number {
    color: #fff;
    font-size: 120px;
  }
}

.broadcast-game-images {
  display: flex;
  flex-wrap: nowrap;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  // filter: saturate(0%);
  opacity: 0.5;
  transition: all 250ms ease-in-out;

  &:after {
    content: '';
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    transition: all 250ms ease-in-out;
  }

  .game-image {
    flex: 1;
    width: 100%; height: 100%;
    background-position: center center;
    background-size: cover;
  }
}

.broadcast-counts {
  display: inline-flex; align-items: center;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  padding: 18px 0;
  z-index: 5;

  color: #fff;
}
.broadcast-count {
  flex: 1;

  font-family: $gotham;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  &.broadcast-raid-count { padding-right: 36px; }
  &.broadcast-highlight-count { padding-left: 36px; }

  .count-label {
    display: block;

    color: rgba(#fff ,0.5);
    font-size: 16px;
    font-weight: 100;
    line-height: 16px; }
  .ss-icon { position: relative; top: 2px; }
}

.broadcast-metadata {
}
.broadcast-airdate {
  display: block;
  padding: 18px 0;

  border-bottom: 1px solid #eee;
  color: #444;
  font-family: $gotham;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.broadcast-status {
  font-family: $gotham;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -1px;
  margin: 24px;

  a { color: #444; }
}







.broadcast-listing {
  padding: 12px;
}
.listing-masthead {
  font-family: $gotham;
  height: calc(100vh - 56px);
  line-height: 20px;

  h1 { font-weight: 100; }
}

.broadcast {
  // display: flex;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  color: #000;
}

.broadcast-link {
  // background: #768EA4;
  font-family: $tungsten;
  font-size: 48px;
  font-weight: 300;

}
.broadcast-number {
  display: block;
}

.broadcast {
  .game-list {
    font-size: 14px;
  }
  .game {
    position: relative;
  }
  .game-name {
    font-weight: 700;
  }
  .game-platform {
  }
  .game-image {
    width: 100vw;
  }
}

.broadcast-metadata {
}
.broadcast-statistics {
}

.broadcast-airdate {
  font-size: 12px;
}

.broadcast-series {
  display: block;
  padding: 8px 12px;

  border-top: 2px solid transparent;
  font-family: $gotham;
  font-size: 11px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;

  &[data-series="all-in-the-family"] {
    border-color: $color-alizarin;
    color: $color-alizarin; }
  &[data-series="avalonstar-after-dark"] {
    border-color: $color-asphalt;
    color: $color-asphalt; }
  &[data-series="whatever-wednesdays"] {
    border-color: $color-emerald;
    color: $color-emerald; }
}

// .counts {
//   display: inline-flex;
// }
// .count {
//   text-align: center;
// }
// .count-number {
//   display: block;
//   width: 36px; height: 36px;
//   padding-top: 9px;

//   background-color: #FFF;
//   border-radius: 50%;
//   color: #000;
//   font-weight: bold;
// }
// .count-label {
//   font-size: 12px;
//   text-transform: uppercase;
// }
