body {
  background-color: #0C0F15;
  color: #FFF;
  font-family: $gotham;
}

a {
  color: #FFF;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0; padding: 0;
}

header {
  display: flex;
  padding: 12px 0;

  background-color: #F4FCFD;
  color: #000;

  a { color: #000; }
  h1 {
    margin: 0;
    font-family: $idlewild;
    font-weight: 800;
    font-size: 16px;
  }
}

nav { flex: 1; }
nav ul {
  display: inline-flex;
  margin-left: 12px;

  font-size: 13px;
  list-style: none;
  text-transform: uppercase;

  li { margin-left: 24px; }
}

.broadcast {
  display: flex;
  padding: 24px 24px 24px 64px;
  overflow: hidden;
  position: relative;
}

.broadcast-link {
  position: absolute; left: 0px; top: 0px;
  width: 100px; height: 100px;

  // background: #768EA4;
  font-family: $tungsten;
  font-size: 48px;
  font-weight: 300;

}
.broadcast-number {
  display: block;
}


.broadcast {
  .game-list {
    font-size: 14px;
  }
  .game {
    position: relative;
  }
  .game-name {
    font-weight: 700;
  }
  .game-platform {
  }
  .game-image {
    width: 100vw;
  }
}

.broadcast-metadata {
  width: 50%;
}
.broadcast-statistics {
}
.broadcast-status {
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.broadcast-series {
  font-weight: 700;
  border: 1px solid #fff;
  padding: 4px;
}

.counts {
  display: inline-flex;
}
.count {
  text-align: center;
}
.count-number {
  display: block;
  width: 36px; height: 36px;
  padding-top: 9px;

  background-color: #FFF;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
}
.count-label {
  font-size: 12px;
  text-transform: uppercase;
}

.game-images {
  display: flex;
  flex-wrap: nowrap;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  filter: saturate(0%);
  opacity: 0.1;
  z-index: -1;
  transition: all 250ms ease-in-out;

  &:after {
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(#000, 0.5);
    content: '';
    transition: all 250ms ease-in-out;
  }

  .broadcast:hover & {
    filter: saturate(100%);
    opacity: 0.5;

    // &:after { background: rgba(#000, 0.5); }
  }
  .game-image {
    flex: 1;
    width: 100px;

    background-position: center center;
    background-size: cover;
  }
}
