{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Away{% endblock %}
{% block overlay %}
<div class="overlay transparent overlay-away">
  <div class="section section-chat">
    <div class="overlay-webcam"></div>
  </div>
  <div class="section section-main">
    <span class="episode-number"><span class="episode-text">Episode</span> {{ broadcast.number }}</span>
    <div class="overlay-message">
      <div class="message-primary">
        <ul class="primary-messages">
          <li class="primary-message message-1">Be back in a few!</li>
        </ul>
      </div>
      <div class="message-secondary">
        <ul class="secondary-messages">
          <li class="secondary-message message-1">You're watching Avalonstar.tv!</li>
          <li class="secondary-message message-2">Click that follow button if you like what you see.</li>
          <li class="secondary-message message-3">Follow me on Twitter (@bryanveloso) for great justice.</li>
          <li class="secondary-message message-4">Proud Member of the Hidden Gems since August 13th.</li>
          <li class="secondary-message message-5">Get a drink, use the restroom, stretch a bit.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock overlay %}
