{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Discussion{% endblock %}
{% block overlay %}
<div class="overlay overlay-discussion">
  <div class="section section-chat"></div>
  <div class="section section-main">
    <span class="episode-number">{{ broadcast.number }}</span>
    <div class="element element-webcam">
      <div class="element-tv">
        <div class="placeholder-webcam"></div>
      </div>
      <div class="element-tv-stand"></div>
    </div>
    <div class="games">
      <ul class="game-list">
        <li><span class="game-menu">Tonight's Menu</span></li>
      {% for game in broadcast.games.all %}
        <li class="game">
          <div class="game-image"><img src="{{ MEDIA_URL }}{{ game.image_art }}"></div>
          <div class="game-metadata">
            <span class="game-name">{{ game.name }} ({{ game.platform }})</span>
            <span class="game-appearances"><b>{{ game.appears_on.count|ordinal }}</b> appearance</span>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/phoenix_large.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>
{% endblock overlay %}
