{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Epilogue{% endblock %}
{% block overlay %}
<div class="overlay overlay-epilogue">
  <div class="section section-chat"></div>
  <div class="section section-main">
    <span class="episode-number"><span class="episode-text">Episode</span> {{ broadcast.number }}</span>
    <div class="episode-metadata">
      <div class="message-container">
        <span class="message"><strong>Thanks for watching!</strong> (It was great seeing you! &lt;3)</span>
        <img src="http://photos-b.ak.instagram.com/hphotos-ak-xap1/10616811_1470501676538233_2053648740_n.jpg" cross-origin="anonymous" data-adaptive-background="1">
      </div>
      <div class="status">
        <span class="episode-status">{{ broadcast.status }}</span>
        <span class="episode-pill episode-airdate">{{ broadcast.airdate | date:"F j, Y" }}</span>
        {% if broadcast.series %}<span class="episode-pill episode-series">{{ broadcast.series }}{% endif %}
      </div>
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/phoenix_large.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>
{% endblock overlay %}
