{% extends "live.html" %}
{% load static from staticfiles %}

{% block title %}Game{% endblock %}
{% block overlay %}
<div class="overlay overlay-game">
  <div class="section section-chat">
    <div class="element element-webcam">
      <div class="element-tv">
        <div class="placeholder-webcam">
          <div class="empty-webcam">
            <span class="empty-webcam-message empty-webcam-message-one">(Oh Look, No Cam.)</span>
            <span class="empty-webcam-message empty-webcam-message-two">Currently Feeling</span>
            <span class="empty-webcam-message empty-webcam-message-three">Self-Conscious</span>
          </div>
          <div class="placeholder-image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-main">
    <div class="placeholder-16x9">Avalonstar.tv</div>
    <div class="episode-messages looper xfade slide up" data-looper="go" data-interval="300000">
      <div class="looper-inner">
        <div class="item">
          <span class="message-text">EP{{ broadcast.number }}: {{ broadcast.status }}</span>
          <span class="message-indicator">
            <div class="indicator-text">Episode</div><div class="indicator-icon"><span class="ss-icon ss-video"></span></div>
          </span>
        </div>
        {% if broadcast.series %}
        <div class="item">
          <span class="message-text">{{ broadcast.series }}</span>
          <span class="message-indicator">
            <div class="indicator-text">Series</div><div class="indicator-icon"><span class="ss-icon ss-flag"></span></div>
          </span>
        </div>
        {% endif %}
        <div class="item">
          <span class="message-text js-subscriber">{{ ticket.display_name }}</span>
          <span class="message-indicator">
            <div class="indicator-text">Newly Knighted</div><div class="indicator-icon"><span class="ss-icon ss-user"></span></div>
          </span>
        </div>
        <div class="item">
          <span class="message-text js-game"></span>
          <span class="message-indicator">
            <div class="indicator-text">Current Game</div><div class="indicator-icon"><span class="ss-icon ss-heart"></span></div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/white_phoenix_large_right.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>
{% endblock overlay %}
