{% extends "live.html" %}
{% load static from staticfiles %}

{% block title %}Game{% endblock %}
{% block overlay %}
<div class="overlay overlay-game">
  <div class="section section-chat">
    <div class="element element-webcam">
      <div class="element-tv">
        <div class="placeholder-webcam"></div>
      </div>
      <div class="element-tv-stand"></div>
    </div>
  </div>
  <div class="section section-main">
    <div class="placeholder-16x9">Avalonstar.tv</div>
    <div class="placeholder-special">
    {% if broadcast.series %}
      <span class="special-type">{{ broadcast.series }}</span>
      <span class="indicator">Series</span>
    {% endif %}
    {% if broadcast.is_marathon %}
      {# This is hacky until I specify a special display field. #}
      <span class="special-type">{{ broadcast.status }}</span>
      <span class="indicator">Marathon</span>
    {% endif %}
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/phoenix_large_right.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>
{% endblock overlay %}
