<div class="notifier">
  <div class="widget">
    <div class="square"></div>
    {# Subscription Notifications #}
    <div class="notification subscribing js-subscribed">
      <div class="bar">
        <span class="type"><span class="type-inner js-type">Subscription</span></span><span class="welcome-text">
          <span class="welcome-text-inner"><strong class="username js-username">iceymoon</strong>, welcome to the Crusade!</span>
        </span>
      </div>
    </div>

    {# Hosting Notifications #}
    <div class="notification hosting js-hosted">

    </div>

    {# Donation Notifications #}
    <div class="notification donating js-donated">

    </div>
  </div>
</div>
