{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Prologue{% endblock %}
{% block overlay %}
{# Particles for great justice. #}
<div class="overlay overlay-prologue">
  <div class="section section-chat"></div>
  <div class="section section-main">
    <span class="episode-number">{{ broadcast.number }}</span>
    <div class="episode-metadata">
      <div class="games">
        <ul class="game-list">
        {% for game in broadcast.games.all %}
          <li class="game">
            <div class="game-image"><img src="{{ MEDIA_URL }}{{ game.image_art }}" cross-origin="anonymous" data-adaptive-background="1"></div>
            <div class="game-metadata">
              <div class="game-metadata-marker"></div>
              <span class="game-name">{{ game.name }} <span class="game-platform">({{ game.platform }})</span></span>
              <span class="game-appearances"><b>{{ game.appears_on.count|ordinal }}</b> appearance</span>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="status">
        <span class="episode-pill episode-airdate">{{ broadcast.airdate | date:"F j, Y" }}</span>
        {% if broadcast.series %}<span class="episode-pill episode-series">{{ broadcast.series }}{% endif %}
        <span class="episode-status">{{ broadcast.status }}</span>
      </div>
    </div>
  </div>

  <div id="particles-js"></div>
  <img class="phoenix" src="{% static 'images/phoenix_large.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>

</div>
{% endblock overlay %}
