{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block overlay %}
<div class="overlay overlay-prologue">
  <div class="section section-chat"></div>
  <div class="section section-main">
    <span class="episode-number"><span class="episode-text">Episode</span> {{ broadcast.number }}</span>
    <div class="episode-metadata">
      <div class="games">
        <ul class="game-list">
        {% for game in broadcast.games.all %}
          <li class="game">
            {% if forloop.first %}
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
             <circle class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
            {% endif %}
            <div class="game-image"><img src="{{ MEDIA_URL }}{{ game.image_art }}"></div>
            <div class="game-metadata">
              <span class="game-name">{{ game.name }}</span>
              <span class="game-appearances"><b>{{ game.appears_on.count|ordinal }}</b> appearance</span>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/phoenix_large.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>

{% endblock overlay %}
