{% load static %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE|slice:"2" }}">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
{% include "partials/site_assets.html" %}
</head>
<body class="{% firstof request.path|slugify "root" %}" data-path="{{ request.path }}">
{% block body %}
  <header>
    <h1>avalonstar.tv</h1>
  </header>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="{% url 'broadcast-list' %}">Broadcasts</a></li>
      <li class="nav-item"><a href="{% url 'game-list' %}">Games</a></li>
    </ul>
  </nav>
  <div class="container">
    {% block container %}{% endblock %}
  </div>
  <footer>
  </footer>
{% endblock body %}
</body>
</html>
