{% extends "base.html" %}
{% load firstof from future %}

{% block container %}
<div class="broadcasts broadcast-listing">
  <div class="listing-masthead">
    <h1>Broadcasts</h1>
    <div class="tagline"><span>By The Numbers</span></div>
    <ul class="broadcast-statistics">
      <li class="broadcast-statistic">
        <div class="statistic-primary">
          <span class="ss-icon ss-webcam"></span>
          <span class="count-number">{{ object_list.count }}</span> episodes
        </div>
        <div class="statistic-secondary">
          Since April 26, 2014. {{ first.airdate|timesince }} ago.
        </div>
      </li>
      <li class="broadcast-statistic">
        <div class="statistic-primary">
          <span class="ss-icon ss-videogame"></span>
          <span class="count-number">{{ games.count }}</span> games played
        </div>
        <div class="statistic-secondary">
          {{ games_completed.count }} completed.
        </div>
      </li>
      <li class="broadcast-statistic">
        <div class="statistic-primary">
          <span class="ss-icon ss-airplay"></span>
          <span class="count-number">{{ highlights.count }}</span> highlights
        </div>
        <div class="statistic-secondary">
         {{ highlights_per_episode }} highlights per episode.
        </div>
      </li>
      <li class="broadcast-statistic">
        <div class="statistic-primary">
          <span class="ss-icon ss-target"></span>
          <span class="count-number">{{ raids.count }}</span> raids
        </div>
        <div class="statistic-secondary">
         {{ raids_per_episode }} raids per episode (since episode 51).
        </div>
      </li>
    </ul>
  </div>
  <ul class="broadcast-list">
  {% for broadcast in object_list %}
    <li class="broadcast">
      <header class="broadcast-header">
        <a class="broadcast-link" href="{{ broadcast.get_absolute_url }}">
          <span class="broadcast-number">{{ broadcast.number }}</span>
        </a>
        <ul class="broadcast-counts">
          <li class="broadcast-count broadcast-raid-count">
            <div class="broadcast-count-border">
              <span class="ss-icon ss-target"></span>
              <span class="count-number">{{ broadcast.raids.count }}</span>
              <span class="count-label">raid{{ broadcast.raids.count|pluralize }}</span>
            </div>
          </li>
          <li class="broadcast-count broadcast-highlight-count">
            <div class="broadcast-count-border">
              <span class="ss-icon ss-airplay"></span>
              <span class="count-number">{{ broadcast.highlights.count }}</span>
              <span class="count-label">vod{{ broadcast.highlights.count|pluralize }}</span>
            </div>
          </li>
        </ul>
        <ul class="broadcast-game-images">
        {% for game in broadcast.games.all %}
          <li class="game-image" style="background-image: url('{{ MEDIA_URL }}{{ game.image_art }}');"></li>
        {% endfor %}
        </ul>
      </header>
      <div class="broadcast-metadata">
        <span class="broadcast-airdate">Aired <strong>{{ broadcast.airdate | date:"F j, Y" }}</strong></span>
        <h2 class="broadcast-status">
          <a href="{{ broadcast.get_absolute_url }}">{% firstof broadcast.status 'Untitled broadcast.' %}</a>
          {% if broadcast.series %}<span class="broadcast-series" data-series="{{ broadcast.series|slugify }}"><span class="ss-icon ss-flag"></span> {{ broadcast.series }}</span>{% endif %}
        </h2>
      </div>
      <aside class="broadcast-aside">
      </aside>
      {% comment %}
      <div class="broadcast-metadata">
      </div>
      <div class="broadcast-statistics">
        <div class="games">
          <ul class="game-list">
          {% for game in broadcast.games.all %}
            <li class="game">
              {# <span class="game-name">{{ game.name }}</span> #}
              {# <span class="game-platform">{{ game.platform }}</span> #}
              <div class="game-image" style="background-image: url('{{ MEDIA_URL }}{{ game.image_art }}'); height: 24px;"></div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {% endcomment %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock container %}
