{% extends "base.html" %}

{% block container %}
<div class="broadcasts">
  <ul class="broadcast-list">
  {% for broadcast in object_list %}
    <li class="broadcast">
      <a class="broadcast-link broadcast-number" href="{{ broadcast.url }}">{{ broadcast.number }}</a>
      <span class="broadcast-airdate">{{ broadcast.airdate | date:"F j, Y" }}</span>
      <h2 class="broadcast-status"><a class="broadcast-link" href="{{ broadcast.url }}">{% firstof broadcast.status 'Untitled Broadcast.' %}</a></h2>
      {% if broadcast.series %}<span class="broadcast-series">{{ broadcast.series }}</span>{% endif %}
      <div class="games">
        <ul class="game-list">
        {% for game in broadcast.games.all %}
          <li class="game">
            <span class="game-name">{{ game }}</span>
            <span class="game-platform">{{ game.platform }}</span>
          </li>
        {% endfor %}
        </ul>
        {% if broadcast.raids.count %}<span class="broadcast-raid-count">{{ broadcast.raids.count }}</span>{% endif %}
      </div>
      <ul class="game-images">
      {% for game in broadcast.games.all %}
        <li class="game-image" style="background-image: url('{{ MEDIA_URL }}{{ game.image_art }}');"></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock container %}
