{% extends "base.html" %}

{% block container %}
<div class="broadcasts">
  <ul class="broadcast-list">
  {% for broadcast in object_list %}
    <li class="broadcast">
      <span class="broadcast-airdate">{{ broadcast.airdate | date:"F j, Y" }}</span>
      <span class="broadcast-number"><b>{{ broadcast.number }}</b></span>
      {% if broadcast.status %}<h2 class="broadcast-status">{{ broadcast.status }}</h2>{% endif %}
      {% if broadcast.series %}<span class="broadcast-series">{{ broadcast.series }}{% endif %}
      <div class="games">
        <ul class="game-list">
        {% for game in broadcast.games.all %}
          <li class="game">
            {{ game }}
          </li>
        {% endfor %}
        </ul>
        {% if broadcast.raids.count %}<span class="broadcast-raid-count">{{ broadcast.raids.count }}</span>{% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock container %}
