.section-main {
  display: flex; align-items: center;
  padding: 60px;
  position: absolute; top: 0; right: 0;
  width: 960px; height: 720px;

  background-color: rgba(#000, 0.25);
}

.overlay-message {
  flex: 1;
}
.message-primary {
  display: block;
  padding: 16px 24px;

  background: #fff;
  color: #090d12;
  font-family: $idlewild;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
}
.message-secondary {
  padding: 12px 24px;
  background: #090d12;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
