.section-main {
  display: flex; align-items: center;
  position: absolute; top: 0; right: 0;
  width: 960px; height: 720px;

  background: #000;
}

.element-webcam {
  width: 320px; height: 240px;
  padding: 30px;
  position: absolute; bottom: 0;
  z-index: 1000;
}
.element-tv {
  width: 260px; height: 160px;
  position: relative;

  background: #fff;
  border-radius: 4px;
}
.placeholder-webcam {
  position: absolute; top: 8px; right: 8px; left: 8px;
  width: 244px; height: 137px;
  background-color: #000;
}



.placeholder-16x9 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 960px; height: 540px;
  text-transform: uppercase;

  background: #060606;
  color: #0a0a0a;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

// .phoenix / .embelish (-one through -four).
// All are overridden since the phoenix goes on the left of the in-game screen.
.phoenix {
  top: 440px; left: 0;
  height: 75%;
}

.embelish { position: absolute; }
.embelish-one { left: -320px; }
.embelish-two { left: -180px; }
.embelish-three { left: -160px; }
.embelish-four { left: -120px; }
