.section-main {
  display: flex; align-items: center;
  position: absolute; top: 0; right: 0;
  width: 960px; height: 720px;

  background: #000;
}

.placeholder-16x9 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 960px; height: 540px;
  text-transform: uppercase;

  background: #080808;
  color: #181818;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}
.placeholder-special {
  position: absolute;
  right: 35px; bottom: 36px;

  color: rgba(#fff, 0.10);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.special-type {
  color: rgba(#29384D, 0.9);
  font-weight: 400;
}
.indicator {
  position: relative; top: -2px;
  padding: 2px 6px;
  margin-left: 2px;

  background: #29384D;
  border-radius: 4px;
  color: #12161b;
  font-size: 12px;
}

// .phoenix / .embelish (-one through -four).
// All are overridden since the phoenix goes on the left of the in-game screen.
.phoenix {
  top: 420px; left: 0;
  height: 75%;
}

.embelish { position: absolute; }
.embelish-one {
  top: 480px; left: -240px;
  width: 480px; height: 480px;
}
.embelish-two { left: -180px; }
.embelish-three { left: -160px; }
.embelish-four { left: -120px; }
