.section-main {
  display: flex; align-items: center;
  position: absolute; top: 0; right: 0;
  width: 960px; height: 720px;

  background: #000;
}

.placeholder-16x9 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 960px; height: 540px;
  text-transform: uppercase;

  background: #080808;
  color: #181818;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

// .phoenix / .embelish (-one through -four).
// All are overridden since the phoenix goes on the left of the in-game screen.
.phoenix {
  top: 420px; left: 0;
  height: 75%;
}

.embelish { position: absolute; }
.embelish-one {
  top: 480px; left: -240px;
  width: 480px; height: 480px;
}
.embelish-two { left: -180px; }
.embelish-three { left: -160px; }
.embelish-four { left: -120px; }

//
.episode-messages {
  position: absolute; right: 0; bottom: 36px;
  padding: 0 36px;
  width: 960px;

  color: rgba(#fff, 0.10);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
.episode-messages.looper {
  .looper-inner {
    height: 22px;
  }
}
.message-text {
  position: relative; top: 3px;
  color: rgba(#354c6c, 0.9);
  font-weight: 400;
}
.message-indicator {
  margin-left: 2px;
  color: #000;
  font-size: 11px;

  .indicator-icon, .indicator-text {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
  }
  .indicator-text {
    padding: 0 6px 0 7px;

    background: #354c6c;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .indicator-icon {
    background: #12161b;
    padding: 0 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .ss-icon {
    color: #fff;
    position: relative; top: 1px;
    font-size: 11px;
  }
}
