.section-main {
  display: flex; align-items: center;
  padding: 60px;
  position: absolute; top: 0; right: 0;
  width: 960px; height: 720px;
}

// .games / .game-list / .game
.game-list {
  display: flex;
  flex-direction: column;
  position: relative; top: 2px;
}
.game {
  position: relative;

  &:not(:first-of-type) { margin-top: 1px; }
  &:before {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;

    background-color: rgba(#000, 0.4);
    content: '';

    animation-direction: alternate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-name: prologue-game-overlay-pulse;
    animation-timing-function: ease-in-out;
    transform-type: preserve-3d;
    transform: translate3d(0, 0, 0);
  }
}

.game-image {
  height: 114px;
  overflow: hidden;
  position: relative;

  background-color: #fff;

  img {
    position: absolute; top: -50%;
    width: 100%;
  }
}

// .status
.status {
  position: absolute;
  width: 40%;
  bottom: 64px;
}
.episode-airdate {
  padding: 4px 8px;

  background: #3B5577;
  color: #12161b;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
.episode-status {
  display: block;
  padding: 12px 0;

  color: #768EA4;
  font-family: $idlewild;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -2px;
}

// .games / .game-list / .game Animations
@keyframes prologue-game-overlay-pulse {
  0% { background-color: rgba(#000, 0.4); }
  100% { background-color: rgba(#000, 0.2); }
}

.game-metadata {
  position: absolute; top: 12px; left: 12px;
  height: 60px;
  z-index: 2;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.game-metadata-marker {
  width: 80%; height: 4px;
  position: absolute; top: 37px; left: 12px;

  background-color: rgba(#000, 0.1);
  transition: background-color 250ms ease-in-out;
}
.game-name {
  display: block;
  min-width: 200px;
  padding: 10px 12px;

  background: rgba(#000, 0.75);
  border-bottom: 1px solid rgba(#000, 0.25);
  font-weight: bold;
}
.game-appearances {
  display: block;
  margin: 0 12px;
  position: absolute; left: 0; bottom: 0px; right: 0;

  color: rgba(#FFF, 0.75);
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(#000, 0.25);
}
.game-platform {
  font-size: 11px;
  font-weight: 400;
}

// .spinner Positioning Overrides.
.spinner {
  position: absolute; top: 50%; right: 24px;
  margin-left: -33px; margin-top: -33px;
  z-index: 5;
}

// .embelish-one Overrides.
.embelish-one { box-shadow: 0px 0px 34px 0px rgba(#000, 0.50); }
