// .element-webcam
.element-webcam {
  width: 320px; height: 185px;
  padding: 0 15px;
  position: absolute; bottom: 0;
  z-index: 1000;
}
.element-tv {
  width: 290px; height: 169px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 20px 0 rgba(#000, 0.2);

  &:before {
    display: block;
    position: absolute; bottom: 0; right: 6px;
    width: 12px; height: 2px;

    background-color: #b8e986;
    border-radius: 7px;
    content: '';
  }
}
.placeholder-webcam {
  display: flex; align-items: center; justify-content: center;
  position: absolute; top: 6px; right: 6px; left: 6px;
  width: 278px; height: 156px;

  background-color: #000;
}
.placeholder-image {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.3;
  z-index: 1;

  background-image: url('https://scontent-a-lhr.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10433088_10101611272783645_8875673993172060583_n.jpg?oh=4eb45c22550fc8c87db65842b55c0b35&oe=5514CFDC');
  background-position: center center;
  background-size: 100%;
}

// .empty-webcam
.empty-webcam {
  padding: 8px 0;
  position: relative;
  width: 100%;
  z-index: 2;

  background: rgba(#000, 0.5);
  border: 1px solid rgba(#fff, 0.1);
  border-width: 1px 0;
  text-align: center;
}
.empty-webcam-message {
  display: block;
  font-weight: 800;
  text-transform: uppercase;
}
.empty-webcam-message-one,
.empty-webcam-message-two {
  color: rgba(#fff, 0.5);
}
.empty-webcam-message-three {
  color: rgba(#fff, 0.75);
  font-size: 19px;
  line-height: 19px;
}
