{% extends "live.html" %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Discussion{% endblock %}
{% block overlay %}
<div class="overlay overlay-discussion">
  <div class="section section-chat"></div>
  <div class="section section-main">
    <span class="episode-number">{{ broadcast.number }}
      <div class="status">{{ broadcast.status }}</div>
    </span>
    <div class="element element-webcam webcam-top">
      <div class="element-tv">
        <div class="placeholder-webcam"></div>
      </div>
    </div>
    <div class="element element-webcam webcam-bottom">
      <div class="element-tv">
        <div class="placeholder-webcam"></div>
      </div>
    </div>
  </div>

  <img class="phoenix" src="{% static 'images/white_phoenix_large_left.png' %}">
  <div class="embelish embelish-one"></div>
  <div class="embelish embelish-two"></div>
  <div class="embelish embelish-three"></div>
  <div class="embelish embelish-four"></div>
</div>
{% endblock overlay %}
